<div
  class="bg-gradient-to-r from-purple-100 to-purple-300 min-h-screen py-16 px-8"
>
  <!-- Speech and Language Disorders Section -->
  <section class="w-full mb-16">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-extrabold text-gray-900 mb-6">
        {{ "logopedia.title" | translate }}
      </h2>
      <p class="text-xl text-gray-700">
        {{ "logopedia.description" | translate }}
      </p>
    </div>

    <div class="space-y-8">
      <!-- Service 1: Reading and Writing Disorders -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service1.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service1.description" | translate }}
        </p>
        <img
          src="writing.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 2: Aphasia   usta z literami wkoło mówiace -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service2.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service2.description" | translate }}
        </p>
        <img
          src="aphasia.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 3: Atypical Swallowing -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service3.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service3.description" | translate }}
        </p>
        <img
          src="atypicalSwallowing.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 4: Myofunctional Therapy -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service4.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service4.description" | translate }}
        </p>
        <img
          src="myofunctional_therapy.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 5: Pediatric Speech Therapy -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service5.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service5.description" | translate }}
        </p>
        <img
          src="pediatric.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 6: Cognitive Deficit    Older person picture -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "logopedia.services.service6.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "logopedia.services.service6.description" | translate }}
        </p>
        <img
          src="oldMan.jpg"
          alt=""
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>
    </div>
  </section>
</div>
