<div class="bg-gradient-to-r from-blue-100 to-blue-300 min-h-screen py-16 px-8">
  <!-- Podiatry Services Section -->
  <section class="w-full mb-16">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-extrabold text-gray-900 mb-6">
        {{ "podiatryServices.overview.title" | translate }}
      </h2>
      <p class="text-xl text-gray-700 max-w-5xl mx-auto">
        {{ "podiatryServices.overview.description" | translate }}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8">
      <!-- Service 1: Chiropody -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service1.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service1.description" | translate }}
        </p>

        <div class="space-y-8">
          <!-- Corns -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{ "podiatryServices.services.service1.corns.title" | translate }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service1.corns.description"
                  | translate
              }}
            </p>
            <div class="flex flex-wrap space-x-4 grid-cols-1 gap-4">
              <img
                src="corn.jpg"
                alt="Corn Treatment 1"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
              <img
                src="corn2.png"
                alt="Corn Treatment 2"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
            </div>
          </div>

          <!-- Hard Skin -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{
                "podiatryServices.services.service1.hardSkin.title" | translate
              }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service1.hardSkin.description"
                  | translate
              }}
            </p>
            <div class="flex flex-wrap space-x-4 grid-cols-1 gap-4">
              <img
                src="hardSkin2.jpg"
                alt="Hard Skin Treatment 1"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
              <img
                src="hardSkin.jpg"
                alt="Hard Skin Treatment 2"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
            </div>
          </div>

          <!-- Verrucae -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{
                "podiatryServices.services.service1.verrucae.title" | translate
              }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service1.verrucae.description"
                  | translate
              }}
            </p>
            <img
              src="verrucae.jpg"
              alt="Verrucae Treatment"
              class="max-w-full max-h-64 object-contain rounded-lg"
            />
          </div>

          <!-- Painful and Ingrowing Nails -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{
                "podiatryServices.services.service1.painfulIngrowingNails.title"
                  | translate
              }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service1.painfulIngrowingNails.description"
                  | translate
              }}
            </p>
            <div class="flex flex-wrap space-x-4 grid-cols-1 gap-4">
              <img
                src="ingrownNailbf.jpg"
                alt="Painful Nails 1"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
              <img
                src="ingrownNailaf.jpg"
                alt="Painful Nails 2"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105"
      >
        <h2 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service2.title" | translate }}
        </h2>

        <!-- Subservice 1 -->
        <h4 class="text-lg text-gray-800 font-semibold mb-4">
          {{ "podiatryServices.services.service2_1.title" | translate }}
        </h4>
        <p class="text-lg text-gray-700 mb-6">
          {{ "podiatryServices.services.service2_1.description" | translate }}
        </p>
        <img
          src="ingrownNail.jpg"
          alt="Nail Surgery"
          class="max-w-full max-h-64 object-contain rounded-lg mb-4"
        />

        <!-- Subservice 2 -->
        <h4 class="text-lg text-gray-800 font-semibold mb-4">
          {{ "podiatryServices.services.service2_2.title" | translate }}
        </h4>
        <p class="text-lg text-gray-700 mb-6">
          {{ "podiatryServices.services.service2_2.description" | translate }}
        </p>
        <!-- Subservice 3 -->
        <h4 class="text-lg text-gray-800 font-semibold mb-4">
          {{ "podiatryServices.services.service2_3.title" | translate }}
        </h4>
        <p class="text-lg text-gray-700 mb-6">
          {{ "podiatryServices.services.service2_3.description" | translate }}
        </p>
      </div>

      <!-- Service 3: Orthopodology -->
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service3.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service3.description" | translate }}
        </p>

        <div class="space-y-8">
          <!-- Customised Insoles -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{
                "podiatryServices.services.service3.customisedInsoles.title"
                  | translate
              }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service3.customisedInsoles.description"
                  | translate
              }}
            </p>
            <ul class="text-lg text-gray-700 mb-6 list-disc pl-6">
              <li
                *ngFor="
                  let item of 'podiatryServices.services.service3.customisedInsoles.list'
                    | translate
                "
              >
                {{ item }}
              </li>
            </ul>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <img
                src="insole2.jpg"
                alt="Hallux Abductus Valgus"
                class="max-w-full max-h-64 object-contain rounded-lg"
              />
            </div>
          </div>

          <!-- Silicone Prostheses -->
          <div
            class="group bg-blue-50 p-8 rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <h4
              class="text-3xl font-medium text-blue-700 mb-4 group-hover:text-blue-600"
            >
              {{
                "podiatryServices.services.service3.siliconeProtheses.title"
                  | translate
              }}
            </h4>
            <p class="text-lg text-gray-600 group-hover:text-gray-800">
              {{
                "podiatryServices.services.service3.siliconeProtheses.description"
                  | translate
              }}
            </p>
          </div>
        </div>
      </div>

      <!-- Service 4: Physical Podiatry -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service4.title" | translate }}
        </h3>
        <ul class="text-lg text-gray-700 mb-6 list-none pl-6">
          <li
            *ngFor="
              let item of 'podiatryServices.services.service4.description'
                | translate
            "
          >
            {{ item }}
          </li>
        </ul>
      </div>

      <!-- Service 5: Corticosteroid and Collagen Infiltrations -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service5.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service5.description" | translate }}
        </p>
        <img
          src="Syringe.jpg"
          alt="Verrucae Treatment"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 6: Pediatric Podiatry -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service6.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service6.description" | translate }}
        </p>
        <img
          src="pediatricfeet.jpg"
          alt="Hallux Abductus Valgus"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 7: Sports Podiatry -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service7.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service7.description" | translate }}
        </p>
        <img
          src="sportsPodiatry.jpg"
          alt="Verrucae Treatment"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 8: Diabetic Foot Care -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service8.title" | translate }}
        </h3>
        <p class="text-lg text-gray-700 mb-6">
          {{ "podiatryServices.services.service8.description" | translate }}
        </p>

        <!-- Subservice 1 -->
        <h4 class="text-lg text-gray-700 mb-4">
          {{ "podiatryServices.services.service8_5.title" | translate }}
        </h4>
        <img
          src="diabeticFoot5.jpg"
          alt="Diabetic Foot - 5 Days"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />

        <!-- Subservice 2 -->
        <h4 class="text-lg text-gray-700 mb-4">
          {{ "podiatryServices.services.service8_10.title" | translate }}
        </h4>
        <img
          src="diabeticFoot10.jpg"
          alt="Diabetic Foot - 10 Days"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 9: Rheumatic Foot Care -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service9.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service9.description" | translate }}
        </p>
        <img
          src="rhaumaticfoot.jpg"
          alt="Hallux Abductus Valgus"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>

      <!-- Service 10: Foot Reflexology -->
      <div
        class="bg-white p-8 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <h3 class="text-4xl font-semibold text-gray-800 mb-6">
          {{ "podiatryServices.services.service10.title" | translate }}
        </h3>
        <p class="text-lg text-gray-600 mb-6">
          {{ "podiatryServices.services.service10.description" | translate }}
        </p>
        <img
          src="footMassage.jpg"
          alt="Hallux Abductus Valgus"
          class="max-w-full max-h-64 object-contain rounded-lg"
        />
      </div>
    </div>
  </section>
</div>
