<div class="bg-gradient-to-r from-blue-100 to-blue-300 min-h-screen py-16 px-6">
  <!-- Team Section -->
  <div class="text-center mb-16">
    <h2 class="text-4xl font-semibold text-gray-800 mb-4">
      {{ "team.section_title" | translate }}
    </h2>
    <p class="text-lg text-gray-600 mb-12 mx-8">
      {{ "team.section_description" | translate }}
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-12"
    >
      <!-- Team Member 1 -->
      <div
        class="team-card flex flex-col sm:flex-row bg-white p-6 rounded-lg shadow-lg cursor-pointer transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <div
          class="relative w-full sm:w-1/3 bg-cover bg-center rounded-lg overflow-hidden"
        >
          <img
            src="doctor1.jpg"
            alt="Desirée González Bossaers"
            class="w-full h-auto max-w-[80%] mx-auto sm:max-w-full object-cover object-center"
          />
        </div>
        <div class="w-full sm:w-2/3 sm:pl-6 pt-6">
          <h3 class="text-2xl font-semibold mb-4 text-gray-800">
            {{ "team.member1.name" | translate }}
          </h3>
          <h4 class="text-lg font-medium text-gray-600 mb-2">
            {{ "team.member1.title" | translate }}
          </h4>
          <p class="text-lg text-gray-700">
            {{ "team.member1.description" | translate }}
          </p>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div
        class="team-card flex flex-col sm:flex-row bg-white p-6 rounded-lg shadow-lg cursor-pointer transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <div
          class="relative w-full sm:w-1/3 bg-cover bg-center rounded-lg overflow-hidden"
        >
          <img
            src="doctor2.jpg"
            alt="Olga Golovacheva"
            class="w-full h-auto max-w-[80%] mx-auto sm:max-w-full object-cover object-center"
          />
        </div>
        <div class="w-full sm:w-2/3 sm:pl-6 pt-6">
          <h3 class="text-2xl font-semibold mb-4 text-gray-800">
            {{ "team.member2.name" | translate }}
          </h3>
          <h4 class="text-lg font-medium text-gray-600 mb-2">
            {{ "team.member2.title" | translate }}
          </h4>
          <p class="text-lg text-gray-700">
            {{ "team.member2.description" | translate }}
          </p>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div
        class="team-card flex flex-col sm:flex-row bg-white p-6 rounded-lg shadow-lg cursor-pointer transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <div
          class="relative w-full sm:w-1/3 bg-cover bg-center rounded-lg overflow-hidden"
        >
          <img
            src="doctor3.jpg"
            alt="Berta Ramírez"
            class="w-full h-auto max-w-[80%] mx-auto sm:max-w-full object-cover object-center"
          />
        </div>
        <div class="w-full sm:w-2/3 sm:pl-6 pt-6">
          <h3 class="text-2xl font-semibold mb-4 text-gray-800">
            {{ "team.member3.name" | translate }}
          </h3>
          <h4 class="text-lg font-medium text-gray-600 mb-2">
            {{ "team.member3.title" | translate }}
          </h4>
          <p class="text-lg text-gray-700">
            {{ "team.member3.description" | translate }}
          </p>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div
        class="team-card flex flex-col sm:flex-row bg-white p-6 rounded-lg shadow-lg cursor-pointer transform transition-all duration-300 hover:scale-105 hover:shadow-xl"
      >
        <div
          class="relative w-full sm:w-1/3 bg-cover bg-center rounded-lg overflow-hidden"
        >
          <img
            src="doctor4.jpg"
            alt="Leonor Buitrago"
            class="w-full h-auto max-w-[80%] mx-auto sm:max-w-full object-cover object-center"
          />
        </div>
        <div class="w-full sm:w-2/3 sm:pl-6 pt-6">
          <h3 class="text-2xl font-semibold mb-4 text-gray-800">
            {{ "team.member4.name" | translate }}
          </h3>
          <h4 class="text-lg font-medium text-gray-600 mb-2">
            {{ "team.member4.title" | translate }}
          </h4>
          <p class="text-lg text-gray-700">
            {{ "team.member4.description" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
